@media (max-width:1920px){
    // EXCURSIONES //

    .main-excursiones{
        .excursiones-card{
            h2, h3{
                width: 90%;
                margin: auto;
            }
        }

        .excursiones-card-2{
            h2, h3{
                width: 90%;
                margin: auto;
            }
        }
    }
}