@media(max-width:352px) {
    // INDEX //
    .section-1{
        h1{
            font-size: 3rem;
        }
    }

    .main-index{
        .barra-interes{
            div{
                padding: .8rem 1rem;
                gap: 0;
                margin-bottom: 0;
            }
        } 
    }
}