@media(max-width:320px) {
    // INDEX //
    .section-1{
        h1{
            font-size: 3rem;
        }
    }
    
    .main-index{
        .barra-interes{
            div{
                input{
                    font-size: .8rem;
                }
            } 
        }

        .div-excursiones{
            img{
                width: 18rem;
            }
        }
    }

    // PAG PRECIOS //

    .main-precios{
        .precios{
            .precios-titulo{
                h2{
                font-size: 1rem;
                }
            }

            .precio-valor p{
                font-size: .8rem;
            }

            p, li{
                font-size: .8rem;
            }
        }

        .ultima-caja-info-precios{
            .h2-medios-de-pago{
                font-size: 1.4rem;
            }

            .info-p-precios{
                padding: .4rem;
                line-height: 1.5rem;
                img{
                    width: 2rem;
                }
                p{
                    font-size: .8rem;
                }
            }
        }
    }
    // CONTACTO //

    .main-contacto{
        h1{
            font-size: 1.2rem;
            padding: 1rem;
        }
    }

    // FOOTER//
    footer{
        .info-pie-de-pag{
            .iconos-pie-de-pag{
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}