@media(max-width:425px){
    // PRECIOS //
    .main-precios{

        .section-precios{
            li{
                margin-left: 1rem;
            }
        }

        .section-precios{
            h1{
                margin-top: 0;
                padding-left: 0;
                font-size: 1.5rem;
                text-align: center;
                letter-spacing: .3rem;
            }
        }

        .precios{
            padding: 3rem;
    
            p, li{
                font-size: 1rem;
                padding: 0;
            }

            .precios-titulo{
                h2{
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
    }

    .ultima-caja-info-precios{
        .h2-medios-de-pago{
            h2{
                font-size: 1.6rem;
                margin-top: 5rem;
            }
        }

        .info-p-precios{
            p{
                font-size: 1rem;
            }
        }
    }

    // CONTACTO //

    .main-contacto{
        form{
            .p1-form{
                text-align: center;
            }
        }
    }

    // NOSOTROS //

    .header-nosotros {
        height: 45rem;
    }
    
    .section-nosotros{
        h1{
            display: none;
        }
    }
    
    .main-nosotros{
        margin-top: -8rem;
        font-size: 1.2rem;
    }

    // FOOTER //

    footer{
        .wave-pie-de-pag{
            display: none;
        }
    
        .info-pie-de-pag{
            .iconos-pie-de-pag{
                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}