@media(max-width:425px){
    // INDEX //
    .main-index{
        .barra-interes{
            div{
                input{
                    font-size: 1rem;
                }
                
                button{
                    margin-right: auto;
    
                    img{
                        width: 25px;
                    }
                }
            }
        }
    }
    // EXCURSIONES //
    .main-excursiones{
        .h1-excursiones{
            font-size: 1.8rem;
            text-align: center;
            margin-top: 0;
            padding-left: 0;
            padding: 1rem;
            letter-spacing: .2rem;
        }

        .excursiones-card{
            h2{
                font-size: 1.6rem;
            }

            h3{
                font-size: 1.3rem;
            }

            .excursiones-card-info{
                img{
                    height: 430px;
                }

                ul{
                    font-size: 1rem;
                }
            }
        }

        .excursiones-card-2{
            h2{
                font-size: 1.6rem;
            }

            h3{
                font-size: 1.3rem;
            }

            .excursiones-card-info-Derecha{
                img{
                    height: 430px;
                }
                
                ul{
                    font-size: 1rem;
                }
            }
        }

        .caja-info-excursiones{
            button{
                padding: 1rem 2rem 1rem 2rem;
                font-size: 1.3rem;
            }

            .caja-mas-info{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    
    // PRECIOS //
    .main-precios{

        .section-precios{
            li{
                margin-left: 1rem;
            }
        }

        .section-precios{
            h1{
                margin-top: 0;
                padding-left: 0;
                font-size: 1.5rem;
                text-align: center;
                letter-spacing: .3rem;
            }
        }

        .precios{
            padding: 3rem;
    
            p, li{
                font-size: 1rem;
                padding: 0;
            }

            .precios-titulo{
                h2{
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
    }

    .ultima-caja-info-precios{
        .h2-medios-de-pago{
            h2{
                font-size: 1.6rem;
                margin-top: 5rem;
            }
        }

        .info-p-precios{
            p{
                font-size: 1rem;
            }
        }
    }

    // CONTACTO //

    .main-contacto{
        h1{
            font-size: 1.5rem;
            margin-top: 0;
        }

        form{
            .p1-form{
                text-align: center;
            }
        }
    }

    // NOSOTROS //

    .header-nosotros {
        height: 45rem;
    }
    
    .section-nosotros{
        h1{
            display: none;
        }
    }
    
    .main-nosotros{
        margin-top: -8rem;
        font-size: 1.2rem;
    }

    // FOOTER //

    footer{
        .wave-pie-de-pag{
            display: none;
        }
    
        .info-pie-de-pag{
            .iconos-pie-de-pag{
                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}