@media(max-width:1024px) {
    // EXCURSIONES //

    .main-excursiones{

        .excursiones-card{
            h2{
                font-size: 1.9rem;
            }

            h3{
                font-size: 1.5rem;
            }

            .excursiones-card-info{
                img{
                    width: 55%;
                }

                ul{
                    font-size: 1.3rem;
                }
            }
        }

        .excursiones-card-2{
            h2{
                font-size: 1.9rem;
            }

            h3{
                font-size: 1.5rem;
            }

            .excursiones-card-info-Derecha{
                img{
                    width: 55%;
                }

                ul{
                    font-size: 1.3rem;
                }
            }
        }

        .caja-info-excursiones{
            button{
                padding: 1rem 4rem 1rem 4rem;
                font-size: 1.5rem;
            }

            .caja-mas-info{
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }

    // PRECIOS //

    .container-nav{
        flex-wrap: nowrap;
    }

    .main-precios{
        .container-precios{
            width: 90%;
        }    

        .precios{
            .precios-titulo{
                flex-direction: column;
                gap: 3rem;
            }
        }
    }
    
    
    // CONTACTO //
    .main-contacto{
        h2{
            font-size: 2rem;
        }
    }

    // NOSOTROS //
    .header-nosotros{
        height: 55rem;
    }

    .info-encabezado-nosotros{
        margin-top: 3rem;

        p{
            font-size: 1.4rem;
        }
    }

    .main-nosotros{
        margin: auto;
        gap: 3rem;

        img{
            width: 60%;
        }
    }
}

