// INDEX //

.main-index{
    .barra-interes{
        font-family: "Bebas Neue", sans-serif;
        color: map-get($colores,color2);
        display: flex;
        justify-content: center;

        div{
            @include flex(none,none,none,center,2rem);
            margin-bottom: 5rem;
            position: relative;
            max-width: 35rem;
            width: 100%;
            padding: 2.5rem 2rem;
            background: lightgray;
            padding-right: 5rem;
            border-radius: 5rem;
            border: none;
            overflow: hidden;
                &:has(input:focus){
                    outline: 2px solid #474646;
                }
        }
        
        input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            font-size: 1.8rem;
                &:focus{
                    outline: none;
                }
        }
        
        button{
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            margin-right: 2em;
            border-radius: 999px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            aspect-ratio: 1;
            border: none;
            cursor: pointer;
            background: lightgray;
        }
    }

    .container-excursiones{
        max-width: 80%;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit:contain;
        justify-content: space-around;
        text-align: center;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .div-excursiones{
            
        @include grid(repeat(3,1fr),center,center,8rem);
        
        img{
            object-fit: cover;
            border-radius: .5rem;
            -webkit-box-shadow: 10px 8px 9px -5px rgba(0,0,0,0.43);
            -moz-box-shadow: 10px 8px 9px -5px rgba(0,0,0,0.43);
            box-shadow: 10px 8px 9px -5px rgba(0,0,0,0.43);
            width: 100%;
            height: 100%;
            justify-content: space-around;
            overflow: hidden;
        }

        a{
            font-family: "Bebas Neue", sans-serif;
            @include texto(1.2rem,center,none);
            color: map-get($colores,color1);
            background-color: #1E1E1E;
            padding: 1.5rem 1rem 1.5rem 1rem;
            text-decoration: none; 
            border-radius: 5rem;
            
            &:hover{
                transform: scale(1,1.1);
            }
        }
        
        
        article{
            display: grid;
            gap: 2rem;
        }
    }
}


// PAG EXCURSIONES //

.h1-excursiones{
    font-family: "Bebas Neue", sans-serif;
        @include texto(2.25rem,none,none);
        color: map-get($colores,color3);
        letter-spacing: .5rem;
        margin-top: 10rem;
        padding-left: 5rem;
        text-shadow: .5625rem .3125rem .2938rem rgba(0, 0, 0, 0.20);
}
.excursiones-card{
    h2{
        @include texto(2.5rem,center,none);
        color: map-get($colores,color4);
        font-family: "Roboto Condensed", sans-serif;
    }

    h3{
        @include texto(2rem,center,none);
        color: map-get($colores,color5);
        font-family: "Roboto Condensed", sans-serif;
    }

    margin-top: 10rem;

    img{
        width: 65%;
        height: 491px;
        border-top-right-radius: 14.9375rem;
        border-bottom-right-radius: 14.9375rem;
        box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.25);
        object-fit: cover;
    }

    .excursiones-card-info{
        width: 95%;
        border-top-right-radius: 15rem;
        border-bottom-right-radius: 15rem;
        background: linear-gradient(to top, #E8DDD4, #DAF7FC);
        height: 491px;
        @include flex(row,none,none,center,5rem);
        margin-top: 5rem;
        
        ul{
            @include texto(1.8rem,center,none);
            color: map-get($colores,color2);
            font-family: "Sora", sans-serif;
            width: 50%;
        }
    }
}

.excursiones-card-2{
    h2{
        @include texto(2.5rem,center,none);
        color: map-get($colores,color4);
        font-family: "Roboto Condensed", sans-serif;
    }

    h3{
        @include texto(2rem,center,none);
        color: map-get($colores,color5);
        font-family: "Roboto Condensed", sans-serif;
    }

    margin-top: 10rem;
    justify-content: right;
    margin-top: 10rem;

    .espacio-card-derecha{
        padding-left: 5rem;
    }

    .excursiones-card-info-Derecha{
        border-top-left-radius: 15rem;
        border-bottom-left-radius: 15rem;
        background: linear-gradient(to top, #E8DDD4, #DAF7FC);
        height: 491px;
        @include flex(row-reverse,none,none,center,5rem);
        margin-top: 5rem;

        img {
            width: 65%;
            height: 491px;
            border-top-left-radius: 14.9375rem;
            border-bottom-left-radius: 14.9375rem;
            box-shadow: 15px 0px 30px 0px rgba(0, 0, 0, 0.25);
            object-fit: cover;
        }

        ul{
            font-family: "Sora", sans-serif;
            font-size: 1.75rem;
            padding-left: 10rem;
            width: 50%;
            @include texto(1.8rem,center,none);
            color: map-get($colores,color2);
        }
    }
}

.caja-info-excursiones{
    a{
        @include flex(none,none,center,center,none);
        text-decoration: none;
        margin-top: 10rem;
    }


    button{
        display: flex;
        align-items: center;
        padding: 2rem 8rem 2rem 8rem;
        border-radius: 3.25rem;
        background: rgba(54, 54, 54, 0.3);
        margin-bottom: 5rem;
        font-family: "Roboto Condensed", sans-serif;
        @include texto(1.75rem,none,uppercase);
        color: map-get($colores,color1);
        font-weight: bold;
        box-shadow: 10px 5px 10px 0px rgba(39, 39, 39, 0.59);
        border: none;

        &:hover{
            background-color: rgba(0, 0, 0, 0.50);
        cursor: pointer;
        }
    }

    .caja-mas-info{
        @include flex(row,none,left,center,none);
        margin-bottom: 3rem;

        p{
            display: flex;
            justify-content:left;
            padding-left: 2rem;
            font-family: "Roboto Condensed", sans-serif;
            @include texto(1.875rem,none,uppercase);
            color: map-get($colores,color2);
            font-weight: bold;
            line-height: 2rem;
        }
    }
}

// PAG PRECIOS //
.main-precios{
    .section-precios{
        h1{
            font-family: "Bebas Neue", sans-serif;
            @include texto(2.25rem,none,none);
            color: map-get($colores,color3);
            letter-spacing: .5rem;
            margin-top: 10rem;
            margin-bottom: 5rem;
            padding-left: 5rem;
            text-shadow: .5625rem .3125rem .2938rem rgba(0, 0, 0, 0.20);
        }

        li{
            margin-left: 5rem;
        }
    }   

    .precios{
        background: linear-gradient(to top, #f4d4d2, #D4C6DE); 
        padding: 5rem;
        border-radius: 5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 5rem;
        position: relative;

        .precios-titulo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3rem;
        }
    
        h2{
            font-family: "Roboto Condensed", sans-serif;
            @include texto(1.8rem,none,uppercase);
            color: map-get($colores,color2);
        }
    
        .precio-valor{
            @include flex(row,none,center,center,2rem);
            background-color: #ffff;
            padding: 1rem 2rem;
            border-radius: 5rem;
    
            p{
                flex: 1;
            }
        }
        
        ul, li{
            margin-top: 1rem;
        }

        p, li{
            color: map-get($colores,color2);
            text-align:left;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 1.6rem;
        }
    }
}

.ultima-caja-info-precios{
    width: 90%;
    margin: auto;

    .medios-de-pago{
        text-align: center;

        h2{
            @include flex(none,none,center,center,none);
            font-family: "Roboto Condensed", sans-serif;
            @include texto(2.25rem,none,uppercase);
            color: map-get($colores,color4);
            margin-top: 10rem;
            margin-bottom: 5rem;
        }

        img{
            width: 90%;
            margin-bottom: 3rem;
        }
    }

    .info-p-precios{
        @include flex(row,left,none,center,none);
        padding-left: 5rem;

        p{
            display: flex;
            justify-content:left;
            padding-left: 2rem;
            font-family: "Roboto Condensed", sans-serif;
            @include texto(1.5625rem,none,uppercase);
            color: map-get($colores,color2);
            font-weight: bold;
            line-height: 2rem;
            padding-bottom: 2rem;
        }
    }
}

// PAG CONTACTO //

.main-contacto{

    h1{
        font-family: "Bebas Neue", sans-serif;
        @include texto(2.25rem,none,none);
        color: map-get($colores,color3);
        letter-spacing: .5rem;
        margin-top: 10rem;
        padding-left: 5rem;
        text-shadow: .5625rem .3125rem .2938rem rgba(0, 0, 0, 0.20);
    }

    form{
        background-color: #e0dede;
        background-image: url(../assets/img/torre-form.png);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-position-x: right;
        padding: 3.125rem 3.4375rem;
        box-shadow:  0 0 1.25rem rgba(0, 0, 0, 0.2);
        border-radius: 1.25rem;
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 12%, 14% 0);


        .p1-form{
            color: #592159;
            font-size: 1.5625rem;
            font-family: "Bebas Neue", sans-serif;
            display: flex;
            flex-direction: column-reverse;
            text-align: right;
        }

        .p2-form{
            @extend .p1-form;
            color:#474747;
        }

        .input-group-form{
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-top: 5rem;

            label{
                font-family: "Bebas Neue", sans-serif;
                @include texto(1.5rem,none,none);
                color: #474747,;
                letter-spacing: .2rem;
                font-weight: 600;
                margin-bottom: .9375rem;
            }

            input, textarea{
                padding: 1.0625rem 1.5625rem;
                border-radius: 1.5625rem;
                margin-bottom: 1.25rem;
                background-color: #ffffff;
                border: .125rem solid #7c67816b;
                color: rgb(83, 82, 82);
                outline: none;
                font-size: 1rem;

                &::placeholder{
                    color: #58555797;
                }
            }
        }

        .btn-enviar{
            font-size: 1.5rem;
            color: white;
            border: 0;
            border-radius: 1.5625rem;
            box-shadow: 0 0 1.25rem rgba(176, 135, 198, 0.241);
            cursor: pointer;

            &:hover{
                background-color: #78697a;
                color: white;
            }
        }
    }
}

// PAG NOSOTROS //

.main-nosotros{
    width: 100%;
    @include flex(column,none,none,none,2rem);
    font-family: "Roboto Condensed", sans-serif;
    @include texto(2.25rem,center,uppercase);
    color: map-get($colores,color2);
    margin-top: 8rem;
    margin-bottom: 5rem;
    font-weight: 700;
    line-height: normal;
    text-wrap: balance;
    
    img{
        margin-bottom: 4rem;
    }
}